html, body { max-width: 100%; overflow-x: hidden; }

#comingsoon {
  font-family: 'Anton', sans-serif;
  font-size: 75px;
}

.button-text {
  color: black;
}

.custom-top-padding {
  padding-top: 30px;
}

.custom-bottom-padding {
  padding-bottom: 100px;
}

#logo {
  max-width: 100%;
}



